export(DPM_GibbsSampler_SkewN)
export(DPM_GibbsSampler_SkewN_test1K)
export(gibbsDPM)
export(gibbsDPMalgo1)
export(gibbsDPMalgo2)
export(gibbsDPMlatent)
export(gibbsDPMslice)
export(gibbsDPMsliceprior)
export(gibbsDPMsliceprior_parallel)
export(mvnpdf)
export(mvsnpdf)
export(nniw_rnd)
export(normalinvwishrnd)
export(plot_ConvDPM)
export(plot_DPM)
export(plot_DPMsn)
export(plot_DPMsn_test1K)
export(sample_alpha)
export(update_SS)
export(update_SSsn)
